@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="container">
    <img id="topgun" src="~/images/topgun.jpg" />
    <p><button onclick="myMove()">Click Me!</button></p>
</div>
    
<br />
<br />

<div class="text-center">
    <h1 class="display-4">Start your day with music!</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/mNEUkkoUoIA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
